<style>
    .dropdown-item {
        padding: 0.25rem 0.5rem;
    }
</style>

@if (Session["id"] != null)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item action">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link active">Log out</a>
        </li>
    }
}
else
{
    <li class="nav-item action">
        <a href="~/Account/Register" class="nav-link active">
            Register
        </a>
    </li>
    <li class="nav-item action">
        <a href="~/Account/Login" class="nav-link active">
            Login
        </a>
    </li>

}

