@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
        </li>
    }
}
else
{
    <li class="nav-item action">
        <a href="~/Account/Register" class="nav-link active">
            Register
        </a>
    </li>
    <li class="nav-item action">
        <a href="~/Account/Login" class="nav-link active">
            Login
        </a>
    </li>

}

