* {
    margin: 0;
}   
html,
body {
    margin: 0;
    height: 100%;
}
.body-content {
    min-height: calc(100vh - 160px);
}
.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 0.5em;
    min-height: 100%;
    min-width: 100%;
}
.navbar {
    margin-bottom: 0.5em;
    width:100%;
}

nav.navbar.fixed-top {
    max-height: 100%;
    margin-bottom:auto;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu-dark .dropdown-item:hover,
.navbar-dark .fa:hover,
.copyrights a:hover,
.about-btn:hover {
    color: #808080;
}

footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #000;
    flex-shrink: 0;
    margin-top: 0.5em;
    width: 100%;
}

footer ul {
    background-color: #000;
    height: 80px;
    margin-top: 5px;
}

.copyrights {
    font-size: 16px;
    color: white;
}
.copyrights a {
    font-weight: bold;
    text-decoration: none;
    color:white;
}

.about-btn {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
