.paper-container {
}

.paper-info-container {
    min-height: 150px;
    background-color: #212325;
    border: 2px groove black;
    border-width: 2px 2px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    cursor: default;
    margin: 30px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.paper-name {
    color: white;
    margin: 15px auto;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    font-size: 27px;
}

.paper-publish-date {
    color: white;
    display: flex;
}

.participated-authors {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60%;
}

.author {
    display: flex;
    padding: 7px;
    margin: 10px;
    margin-bottom: 15px;
    min-width: 180px;
    border: 1px solid white;
    border-radius: 10px;
}

.author:hover, .author:focus {
    outline: 4px;
    box-shadow: 0px 20px 35px 0px rgba(0,0,0,0.6);
}

.author-img {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: 24px;
    float: left;
}

.author-labels {
    font-weight: 400;
    color: #999;
    display: block;
    margin-top: 10px;
    text-align: left;
}

.author-values, .author-name, .author-uni {
    font-size: 16px;
    display: block;
    margin: 2px 0px 10px 0px;
    text-align: left;
    color: white;
}

.author-name {
    margin: 2px 5px 3px 0px;
    font-size: 17px;
}

.author-uni {
    color: #777;
    padding-top: 4px;
    margin-bottom: 2px;
}

.paper-view-container {
    min-height: 600px;
    background-color: #212325;
    border: 2px groove black;
    border-width: 2px 2px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    cursor: default;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.paper-file {
    margin: 10px 0px 10px 0px;
    min-width: 60%;
    max-width: 90%;
    min-height: 800px;
    position: relative;
}

.paper-interactions-container {
    min-height: 200px;
    background-color: #212325;
    border: 2px groove black;
    border-width: 2px 2px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 20px 0px 20px;
}

.like-actions {
    padding: 10px;
    width: 430px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.like-button, .dislike-button {
    min-width: 90px;
    height: 55px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    cursor: auto;
}

.button-style {
    font-size: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 0px 2px 0px 0px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.number-of {
    width: auto;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: 600;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 18px;
}

.like-button:hover, .dislike-button:hover, .like-button:focus, .dislike-button:focus {
    outline: 4px;
    box-shadow: 0px 20px 35px 0px rgba(0,0,0,0.6);
}

hr {
    /*width: 410px;*/
    color: whitesmoke;
}

.comment-box {
    display: flex;
    align-items: center;
}

.image {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
}

#comment-text-box {
    padding: 3px;
    width: 240px;
    height: 60px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-right: 10px;
}

#comment-button {
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    height: 60px;
}

.comment {
    color: white;
}

.comment-info {
    display: flex;
}

.comment-time {
    color: #999;
    display: flex;
    margin: 5px;
    font-size: 14px;
    font-weight: 300;
}

.comment-author-name {
    font-size: 16px;
    display: block;
    margin: 2px 0px 10px 0px;
    text-align: left;
    color: white;
    padding-bottom: 4px;
}

.comment-content {
    font-size: 14px;
    padding: 3px;
    max-width: 250px;
    overflow-wrap: break-spaces;
    font-weight: 300;
    text-align: left;
    margin-left: 75px;
}

.edit-button {
    padding: 0px 20px;
    cursor: pointer;
    display: inline-grid;
}

.update-button {
    display: none;
}

.delete-button {
    cursor: pointer;
    display: inline-grid;
}

.edit-button i, .update-button i, .delete-button i {
    font-size: 18px;
}

.edit-button i:hover, .update-button i:hover, .delete-button i:hover {
    outline: 4px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.8);
}

.fixed-img {
    display: inline;
}