.search-container {
    min-height: 550px;
    width: 80%;
    background-color: #212325;
    border: 2px groove black;
    border-width: 2px 2px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    cursor: default;
    margin: 40px auto;
}

.search-textbox {
    width: 410px;
    height: 40px;
    padding: 0px 15px;
    margin: 35px auto 20px auto;
    background-color: #3a3a3a;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 14px;
    outline: 4px;
}

.search-textbox::placeholder {
    color: #a8a8a8;
    font-size: 18px;
    font-family: arial;
}

.SearchBySelector {
    width: 120px;
    height: 40px;
    padding: 0px 15px;
    margin: 35px auto 20px auto;
    background-color: #3a3a3a;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 14px;
    outline: 4px;
    transition-duration: 0.5s;
}

#SearchBySelector * {
    border-radius: 2px;
}

.separator {
    width: 80%;
    height: 1.2px;
    background-color: rgb(77, 77, 77);
    position: relative;
    margin: auto;
    margin-top: 15px;
}

.search-button {
    background-color: white;
    color: black;
    border: 0.5px solid #000000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    padding: 8px 20px;
}

.search-button:hover, .SearchBySelector:hover , .search-textbox:hover {
    background-color: #000000;
    color: white;
    outline: 4px;
    box-shadow: 0px 20px 50px 0px  rgba(0,0,0,0.8);
}

.SearchBySelector:focus, .search-textbox:focus, .search-button:focus, .result-box:focus {
    outline: 4px;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.8);
}

.result-container {
    margin: 20px;
}

.result-box {
    color: white;
    margin: 30px auto;
    padding: 10px 15px;
    border-width: 2px;
    border-style: groove;
    border-color: white;
    border-radius: 6px;
    background-color: #1b1b1b;
    width: 35%;
    display: none;
}

.result-box:hover {
    outline: 4px;
    box-shadow: 0px 20px 50px 0px  rgba(0,0,0,0.8);
}

.profile-link-name, .profile-link-line {
    text-decoration-line: none;
}

.profile-link-name {
    color: white;
}

.profile-link-name:hover , .profile-link-name:active {
    color: white;
    text-decoration-line: underline;
}

.profile-link-line:hover, .profile-link-line:active {
    text-decoration-line: underline;
}

.labels {
    font-weight: 400;
    color: #999;
    display: block;
    margin-top: 10px;
    text-align: left;
}

.values {
    font-size: 16px;
    display: block;
    margin: 2px 0px 10px 0px;
    text-align: left;
}

.author-image {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    float: right;
}

.not-found {
    position: relative;
    margin: 160px auto;
    display: none;
    color: #484848;
    font-size: 60px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px black;
    font-family: 'Patua One';
    font-weight: bold;
    display: none;
}