﻿body, html {
    height: 100%;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    transform: scale(0.7);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(126, 126, 126); 
    border-radius: 0px;
}
   
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0); 
    border-radius: 20px;
    animation: 10s ease-in-out;
    block-size: 5px;
  
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 62, 62); 
}
.wrapper {
    padding-top: 5.5em !important;
    padding-bottom: 5.5em !important;
}

.container {
    min-width: 90%;
}

.required-field:after {
    content: "*";
    color: red;
    margin-left: 1px
}