@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Search";
}

<div class="search-container">
    <input type="text" placeholder="Search author ........" name="SearchBox" id="SearchBox" class="search-textbox" />
    <select name="SearchBySelector" id="SearchBySelector" class="SearchBySelector">
        <option value="SearchByName" selected>Name</option>
        <option value="SearchByEmail">Email</option>
        <option value="SearchByUniversity">University</option>
    </select>
    <input type="button" name="Search" id="Submit" class="search-button" value="Search" />
    <div class="separator"></div>
    <h1 class="not-found" id="not-found">Not found!</h1>
    <div class="result-container" id="result-container">
        
    </div>
</div>

@section Scripts
{
    <script>

        $("#Submit").on('click', function () {

            var searchBoxValue = $("#SearchBox").val();
            searchBoxValue = (searchBoxValue === '' ? null : searchBoxValue);

            $.ajax({
                url: "/Search/" + $("#SearchBySelector").val() + "/" + searchBoxValue,
                type: 'POST',
                async: true,
                cache: false,
                success: function (result) {

                    if ($(".result-box").length > 0)
                        $(".result-box").fadeOut(200);
                    if ($("#not-found").attr("display") !== "none")
                        $("#not-found").fadeOut(200);

                    setTimeout(function () {

                        $("#result-container").html(result);

                        if ($(".result-box").length > 0) {
            
                            $("#not-found").fadeOut(200);
                            $(".result-box").fadeIn(800);

                        } else {
                            $("#not-found").fadeIn(500);
                        }

                    }, 300);

                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            });
        });

        $(window).on('load', function () {
            $.ajax({
                url: "/Search/ClearResults/",
                type: 'POST',
                async: true,
                cache: false,
                success: function (result) {
                    
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            });
        });

    </script>
}
