@{
    ViewBag.Title = "About";
}
<div class="About">
    <table class="table caption-top">
        <caption>Team</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">201900062</th>
                <td>Ahmed Ezzat</td>
            </tr>
            <tr>
                <th scope="row">201900079</th>
                <td>Ahmed Maher</td>
            </tr>
            <tr>
                <th scope="row">201900279</th>
                <td>Khalid Rizk</td>
            </tr>
            <tr>
                <th scope="row">201900806</th>
                <td>Mariam Yehia</td>
            </tr>
            <tr>
                <th scope="row">201900936</th>
                <td>Hadeer Emad</td>
            </tr>
            <tr>
                <th scope="row">201900950</th>
                <td>Walid Shaban</td>
            </tr>
        </tbody>
    </table>
</div>