@{
    ViewBag.Title = "Home Page";
    bool isLogedIn = Session["id"] != null;
    string userName = (string)Session["Fname"];
}
<style>
    .wrapper {
        display: flex;
        height: 100%;
    }
    .btn {
        position: absolute;
        width: 100%;
        height: 80%;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(250%);
        -webkit-transform: translate(-50%,250%);
        transform: translate(-50%,250%);
    }

    .btn {
        background-color: white;
        color: black;
        border: 0.5px solid #000000;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.5s;
        width: 200px;
        padding: 20px 20px;
        outline: 0 !important;
    }

    .btn:hover {
        background-color: #000000;
        color: white;
        outline: 0 !important;
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.8);
    }

    .btn:focus {
        outline: 0 !important;
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.8);
    }

</style>
<div class="slider-container h-100 text-center text-white bg-dark">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width:100%; height:100%;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            @if (isLogedIn)
            {
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            }
        </div>
        <div class="carousel-inner">
            @if (!isLogedIn)
                {
                    <div class="carousel-item active">
                        <h1>Welcome to Research Gate!</h1>
                        <p>Join us now and publish your paper for free!</p>
                        <p class="slider-btn"><a class="btn btn-lg btn-black" href="~/Account/Register">Join Now</a></p>
                    </div>

                }
                else
                {
                    <div class="carousel-item active">
                        <h1>Welcome Back @userName!</h1>
                        <p>Wish you great experience in our site.</p>
                        <p class="slider-btn"><a class="btn btn-lg btn-black" href="~/Profile/Index/@Session["id"]">My Profile</a></p>
                    </div>

                    <div class="carousel-item">
                        <h1>Publish Paper now!</h1>
                        <p>Shear your amazing work with our comminty.</p>
                        <p class="slider-btn"><a class="btn btn-lg btn-black" href="~/Paper/Upload">Publish Paper</a></p>
                    </div>

                }
                <div class="carousel-item">
                    <h1>Search author</h1>
                    <p>Search author by name, university and email for free.</p>
                    <p class="slider-btn"><a class="btn btn-lg btn-black" href="~/Search/Index">Search Now</a></p>
                </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>